body {
    margin:0;
    background-color: #D47677;
}

.form-container {
	display: flex;
	justify-content:center;
	background-color:#F0F0F0;
	width: 400px;
	margin: 16px auto;
	font-size: 16px;
	margin-top: 115px;
}

p.login-header {
	margin-top:15px;
	text-align:center;
	color: gray;
}

div.login-info {
    padding:3px;
	font-size:13px;
	width:200px;
	text-align:center;
}

.login-info .fields {
	margin-top:10px;
	width: 100%;
	padding: 5px;
}

p {
	text-align: left;
	color: gray;
}

button.submitButton {
	background-color:#9DD8D4;
	font-size: 13px;
	color:#fff;
	margin-top: 20px;
	padding:8px;
	width:50%;
}

@media (max-width: 800px) {
	.login-form input {
		margin: 10px 0;
	}
	button.submitButton {
		width: 100%;
	}
}